# Wails
build/bin/
frontend/wailsjs/
frontend/dist/
wails.log

# Go
bin/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node/Svelte
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.svelte-kit/
.vercel/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db