# Wails
build/bin/
frontend/bindings/
frontend/dist/
wails.log
.task/
*.syso
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/linux/appimage/build/
build/linux/marksafe.desktop

# Go
bin/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node/Svelte
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.svelte-kit/
.vercel/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
mlcplan.md
